h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 25px;
}

footer {
    font-size: 12px;
    color: darkgray;
    text-align: center;
    background: #666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

/* Portfolio */
.card {
  position: relative;
  float: left;
  overflow: auto;
}

.card-title {
    text-align: center;
    padding: 20px;
    color: #595959;
}

.card-body {
    background-color: #ddeee0;
}

.card-img-top {
    height: 200px;
}
